#Dependencies directory
node_modules
test/reports/allure-report
test/reports/allure-results

# Flutter apps
apps/android
apps/ios

# Miscellaneous
.DS_Store

#Logs
logs
*.log

#IDE
.idea

# Environment variables
/.env